body {
  background-color: #F4E2C0;
  color: #222F40;
}

h3, h4 {
  color: #4a4f5a;
  /*color: #68748C;*/
}


/* Color Theme Swatches in Hex */
.Yarrah-1-hex { color: #7E498C; }
.Yarrah-2-hex { color: #025930; }
.Yarrah-3-hex { color: #85BF4B; }
.Yarrah-4-hex { color: #EAF2DF; }
.Yarrah-5-hex { color: #F2766B; }


/* Color Theme Swatches in Hex */
.The-Enchanted-Forest-1-hex { color: #96F20C; }
.The-Enchanted-Forest-2-hex { color: #87BF34; }
.The-Enchanted-Forest-3-hex { color: #698C35; }
.The-Enchanted-Forest-4-hex { color: #BF9663; }
.The-Enchanted-Forest-5-hex { color: #733F2D; }

/* Color Theme Swatches in Hex */
.Textures-of-Iceland-1-hex { color: #F0F0F2; }
.Textures-of-Iceland-2-hex { color: #68748C; }
.Textures-of-Iceland-3-hex { color: #818DA6; }
.Textures-of-Iceland-4-hex { color: #222F40; }
.Textures-of-Iceland-5-hex { color: #0A0B0D; }

